<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iot.dao.locationUpdateInstructionDao.ILocationUpdateInstructionDao">
	<sql id="c_location_update_instruction_t">
		_location_update_instruction_t.id, _location_update_instruction_t.iccid,
		_location_update_instruction_t.mcc, _location_update_instruction_t.status,
		_location_update_instruction_t.create_time createTime, _location_update_instruction_t.update_time updateTime
	</sql>
	<sql id="t_location_update_instruction_t">
		location_update_instruction_t
	</sql>
	<select id="getList" resultType="com.iot.otaBean.locationUpdateInstruction.LocationUpdateInstruction">
		SELECT	<include refid="c_location_update_instruction_t"/>
		FROM	<include refid="t_location_update_instruction_t"/> _location_update_instruction_t
		where  1 = 1
	</select>
	<insert id="insert" parameterType="com.iot.otaBean.locationUpdateInstruction.LocationUpdateInstruction">
		insert into <include refid="t_location_update_instruction_t"/>
		(id, iccid, mcc, status, create_time, update_time)
		values(#{lu.id}, #{lu.iccid}, #{lu.mcc}, #{lu.status}, #{lu.createTime}, #{lu.updateTime})
	</insert>
</mapper>
    
  